@import "tailwindcss";
@plugin "flowbite-react/plugin/tailwindcss";
@source "../.flowbite-react/class-list.json";

@font-face {
  font-family: "Soraya";
  font-style: normal;
  src: url("/fonts/A_Soraya/A_Soraya.ttf") format("truetype");
}

@theme {
  --color-white-smoke: #f5f5f5;
  --color-saffron: #f4c431;
  --color-night: #111111;
  --color-platinum: #e5e4e2;
  --color-silver: #cecece;
  --font-soraya: "Soraya";
}

@layer components {
  .btn {
    @apply p-2 cursor-pointer transition-colors duration-400 ease-in-out text-sm bg-night/45 text-saffron border border-platinum/50 hover:text-inherit hover:bg-saffron/30 rounded-md hover:border-platinum/30 flex items-center justify-center;
  }
  .submitBtn {
    @apply text-sm cursor-pointer py-3 px-2 transition-all duration-400 ease-in-out bg-transparent w-full border border-night/50 rounded-md hover:border-night text-night/80 disabled:cursor-not-allowed;
  }

  .table-body td {
    @apply px-4 py-4 text-center;
  }

  .custom-radio {
    @apply appearance-none w-4 h-4 border-2 border-night rounded cursor-pointer transition-all duration-200;
  }

  .custom-radio:checked {
    @apply border-night bg-night;
  }

  .custom-radio:checked::after {
    content: "";
    @apply block w-2 h-2 bg-check-icon rounded-full mx-auto bg-center bg-no-repeat  my-0.5;
  }
}

/* Swiper */
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #444;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.autoplay-progress {
  position: absolute;
  right: 16px;
  bottom: 16px;
  z-index: 10;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: #f4c431; /* var(--swiper-theme-color) */
}

.autoplay-progress svg {
  --progress: 0;
  position: absolute;
  left: 0;
  top: 0px;
  z-index: 10;
  width: 100%;
  height: 100%;
  stroke-width: 4px;
  stroke: #f4c431; /* var(--swiper-theme-color) */
  fill: none;
  stroke-dashoffset: calc(125.6px * (1 - var(--progress)));
  stroke-dasharray: 125.6;
  transform: rotate(-90deg);
}
